@CHARSET "ISO-8859-1";
/*-----------------------------------------------------------------------------------*
     Fuentes
*------------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/MONTSERRAT-BOLD.OTF);
}

@font-face {
	font-family: 'Dutch';
	src: url(../fonts/DUTCH.TTF);
}

@font-face {
	font-family: 'Frahv';
	src: url(../fonts/FRAHV.TTF);
}

/* ^Estilos horizontal scroll
-------------------------------------------------------------------------------------*/

/* Reset CSS
 * --------------------------------------- */

/* condicionar al slidesNav para que el tamaño no presente inconvenientes, debido a su superposición */

.fp-slidesNav {
	width: 21vw;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

table {
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}

strong {
	font-weight: bold;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

caption, th {
	text-align: left;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
}

/* Custom CSS
  * --------------------------------------- */

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}


#menu li {
	display: inline-block;
	margin: 10px;
	color: #000;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#menu li.active {
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#menu li a {
	text-decoration: none;
	color: #000;
}

#menu li.active a:hover {
	color: #000;
}

#menu li:hover {
	background: rgba(255, 255, 255, 0.8);
}

#menu li a, #menu li.active a {
	padding: 9px 18px;
	display: block;
}

#menu li.active a {
	color: #fff;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* ^Fin - Estilos horizontal scroll
-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*
     Titulos
*------------------------------------------------------------------------------------*/

h1 {
	font-family: 'Montserrat';
	font-size: 30px;
}

/*-----------------------------------------------------------------------------------*
	 Menu
*------------------------------------------------------------------------------------*/

/* ^Inicio Menu
-------------------------------------------------------------------------------------*/

#section0 {
	background-image: url(../img/fondos/Principal.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.menu {
	height: 100%;
	width: 170px;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 80%;
	overflow-x: hidden;
	padding-top: 20px;
	text-align: center;
	color: #ffffff;
}

.menu .home-lg {
	margin: 0 auto;
	height: 90px;
	width: 95px;
	background: no-repeat center center;
	background-size: 100% 100%;
	opacity: 100%;
}

.menu .menu-item, .dropdown-btn {
	padding: 6px 8px 6px 1px;
	margin-top: 10px;
	text-decoration: none;
	font-family: 'Dutch';
	font-size: 20px;
	color: #ffffff;
	display: block;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

.menu .menu-item:hover, .dropdown-btn:hover {
	color: #00aeda;
}

.dropdown-container {
	display: none;
	background-color: #00aeda;
	padding-left: 8px;
}

.fa-caret-down {
	float: right;
}

.menu hr {
	width: 60%;
}

#inicio {
	color: #00aeda;
	text-transform: uppercase;
	font-size: 30px;
}

/* ^Fin - Menu
-------------------------------------------------------------------------------------*/

/* ^Inicio tarjetas primer slide
-------------------------------------------------------------------------------------*/

.panels {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
}

.panel {
	background: #6b0f9c;
	color: #000;
	text-align: center;
	align-items: center;
	transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
	font-size: 20px;
	background-size: cover;
	background-position: center;
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.panel1 {
	background: #1B264F;
}

.panel2 {
	background: #283975;
}

.panel3 {
	background: #354B9B;
}

.panel4 {
	background: #435EBF;
}

.panel>* {
	margin: 0;
	width: 100%;
	transition: transform 0.5s;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel>*:first-child {
	transform: translateY(-100%);
}

.panel.open-active>*:first-child {
	transform: translateY(0);
}

.panel>*:last-child {
	transform: translateY(100%);
}

.panel.open-active>*:last-child {
	transform: translateY(0);
}

.panel p {
	font-size: 0.6em;
}

.panel p:nth-child(2) {
	font-size: 2.5em;
}

.panel.open {
	flex: 5;
	font-size: 30px;
}

.panels-p {
	text-align: justify;
	height: 50%;
	width: 100%;
}

.panels-title, .panels-p {
	font-family: 'Montserrat';
	color: #fff;
}

/* ^Fin - tarjetas primer slide
  -------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*
     Seccion Eventos
*------------------------------------------------------------------------------------*/

/* ^Eventos
-------------------------------------------------------------------------------------*/

/*  **********
	 slider #4
	**********  */

.slide-3 {
	position: relative;
}

.slide-3 div p {
	text-align: left;
	height: 80%;
	overflow: auto;
}

.slide-3 div h1 {
	font-size: 4.5vh;
}

.slide-3 div {
	font-size: 2.2vh;
	box-sizing: border-box;
	position: absolute;
	height: 50%;
	color: white;
	padding: 1% 1% 2.5% 1%;
}

.slide-3 div button {
	background: transparent;
	font-size: 3.2vh;
	border: .5vh white solid;
	color: white;
	height: 5.5vh;
	width: 13vh;
	position: absolute;
	bottom: 2vh;
	left: 43.5%;
	z-index: 1;
}

.emeroteca {
	background: rgb(51, 51, 51);
	width: 50%;
	top: 0;
	left: 0;
}

.membresia {
	background: rgb(0, 179, 212);
	width: 50%;
	top: 0;
	left: 50%;
}

.prestamo-sala {
	background: rgb(0, 133, 212);
	width: 50%;
	bottom: 0;
	left: 0%;
}

.slide-3 .prestamo-host {
	background: #808080;
	width: 25%;
	bottom: 0;
	left: 50%;
}

.slide-3 .casilleros {
	color: rgb(51, 51, 51);
	background: rgb(215, 215, 215);
	width: 25%;
	bottom: 0;
	left: 75%;
}

.logo-cal {
	height: 10vh;
	width: 7vw;
	position: absolute;
	bottom: 3%;
	right: 20%;
	border-radius: 1vh 1vw;
	background: white url(../img/logos/calendario.png) no-repeat center center;
	background-size: 60% 70%;
	cursor: pointer;
}

/******/

/*****************************************************************
	Comienzo slider 5
	*************************************************************/

.latest-news {
	position: relative;
	height: 100vh;
	width: 100vw;
	Background: white;
}

.title-news {
	position: absolute;
	height: 17%;
	width: 40%;
	background: url("../img/logos/latesnews.jpg") no-repeat center center;
	background-size: 100% 100%;
	top: 0;
	right: 15%;
}

.container-news {
	position: absolute;
	height: 70%;
	width: 80%;
	background: white;
	bottom: 5%;
	left: 10%;
	overflow-x: hidden;
}

.container-news>div {
	left: 0;
	top: 0;
	position: absolute;
	height: 96%;
	width: 30.66666%;
	margin: 1%;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 0s;
	box-shadow: 0 0 1vh 0.2vh rgb(150, 150, 150);
	color: rgb(110, 110, 110);
	border-radius: 2vh;
}

.derecha, .izquierda {
	position: absolute;
	top: 50vh;
}

.derecha {
	right: 5%;
	height: 14vh;
	width: 7vh;
	border-bottom-right-radius: 12vh;
	border-top-right-radius: 12vh;
	background: rgb(150, 150, 150);
}

.izquierda {
	left: 5%;
	height: 14vh;
	width: 7vh;
	border-bottom-left-radius: 12vh;
	border-top-left-radius: 12vh;
	background: rgb(150, 150, 150);
}

.subnews-2::before {
	content: "Autor";
}

.subnews-1 {
	height: 50%;
	width: 100%;
	background: url("../img/fondos/fondo.jpg") no-repeat center center;
	background-size: 100% 100%;
	border-radius: 2vh 0;
}

.subnews-2 {
	padding: 1% 2%;
	height: 4%;
	width: 96%;
}

.subnews-3 {
	color: #111;
	padding: 1% 2%;
	height: 8%;
	width: 96%;
}

.subnews-4 {
	padding: 1% 2%;
	text-align: left;
	height: 28%;
	width: 96%;
}

.subnews-5 {
	cursor: pointer;
	padding: 1% 2%;
	height: 3%;
	width: 96%;
	border-radius: 0 2vh;
}

/****/

/* ^Fin - Eventos
-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*
	 Contacto y footer
*------------------------------------------------------------------------------------*/

/* ^Contacto y footer
-------------------------------------------------------------------------------------*/



.info-left {
	width: 50%;
	float: left;
}

.info-right {
	box-sizing: border-box;
	width: 50%;
	float: left;
	background-color: #01A3D2;
	padding-left: 3%;
	padding-right: 3%;

}

.info-bot {
	background-color: #333333;
	margin: 0;
	padding: 11%;
	box-sizing: border-box;
	color: #fff;
	clear: both;
	text-align: center;
}

.footer-title {
	font-family: 'Frahv';
	font-size: 2.2em;
	margin: 10px;
	text-align: center;
}

.fab {
	font-size: 1.5em;
	margin: 10px;
}

.info-bot a {
	text-decoration: none;
	font-family: 'Frahv';
	color: #fff;
}

.info-bot .footer-p {
	font-family: 'Frahv';
	font-size: 1em;
}

.formulario {

	padding: 2.4%;
	box-sizing: border-box;
}

.form-input, .form-message, .form-select {

	text-align: left;
	font-family: 'Frahv';
	width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-left: auto;
    border-radius: 4px;
    color: black;
    text-align: left;
}
}

.form-input, .form-select{
	height: 20px;
}

.form-title{
	font-family: 'Frahv';
	font-size: 1.5em;
	margin: 1%;
	text-align: center;
}
.form-lb, label{
	text-align: left;
	font-family: 'Frahv';
	font-size: 16px;
}

.controls {
    width: 100%;
		margin-top: 6px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-size: 12px;
    color: black;
}

.botons {
    width: 20%;
    background: #1f53c5;
    border: none;
    padding: 6px;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}
/* /^^Fin - Contacto y footer
-------------------------------------------------------------------------------------*/

/**********
	mouseScroll
**********/
.onloadScroll{
	position: fixed;
	height: 100vmax;
	width: 100%;
	background: rgb(51,51,51);
	display: block;
	opacity: 100%;
	transition-property: all;
	transition-duration: 0.7s;
	transition-delay: 0;
	z-index: 10;
}


.mouseScroll{
	position: relative;
	margin: 45vh auto;
	height: 10vh;
	width: 2.5vw;
	border: whitesmoke solid 0.35vh;
	border-radius: 3vh;
	background: rgb(51, 51, 51);
	transition-property: all;
	transition-duration: 0.7s;
	transition-delay: 0;
}

.mouseScroll > div{
	position: relative;
	height: 1.5vh;
	width: 1.5vh;
	border-radius: 0.75vh;
	margin: 15% auto;
	background: whitesmoke;
	transition-property: all;
	transition-duration: 0.7s;
	transition-delay: 0;
}
